@import "bourbon"
@import "_fonts.sass"
@import "_vars.sass"

body
    fpnt-size: 14px
    min-width: 320px
    position: relative
    line-heigth: 1.6
    font-family: "Montserrat-ExtraLight", montserrat
    overflow-x: hidden
    color: #222
    
h1, h2, h3, h4, h5, h6
    font-family: "Montserrat-Medium", montserrat
    font-weigth: normal

.hidden
    display: none

.main-head
    background: #1D1D1D
    min-heigth: 100vh
    
.menu-line
    padding: 0
    margin: 0

nav
    ul
        list-style-type: none
        padding: 0
        margin: 0
    li
        display: inline-block

.top-menu
    text-align: center
    > ul
        > li
            > a
                display: block
                text-decoration: none
                height: 55px
                padding: 10px 10px
                color: #989696
                @extend .mt
                &:hover
                    text-decoration: none
                    background: #fff
                    color: #000
                
.logo-D
    position: fixed
    background: #000
    color: #fff
    display: inline-block
    width: 55px
    height: 55px
    
    
.logo
    display: block