@import "bourbon"
@import "_fonts.sass"
@import "_vars.sass"

body
    fpnt-size: 14px
    min-width: 320px
    position: relative
    line-heigth: 1.6
    font-family: "Montserrat-ExtraLight", montserrat
    overflow-x: hidden
    color: #222
    
h1, h2, h3, h4, h5, h6
    font-family: "Montserrat-Medium", montserrat
    font-weigth: normal  
    
.hidden
    display: none

.main-head
    background: #1D1D1D
    min-heigth: 100vh
    